.venv
.DS_STORE
__pycache__

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

### React stuff ###
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.env
db.sqlite3
