@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/*experimenting with slide animations*/
.slide-up {
  animation: slideUp 0.2s ease-out forwards;
}

.table-header {
  @apply rounded-lg bg-default-100 py-3 text-gray-500 text-xs;
}

table {
  border-collapse: separate;
}

.decoration {
  position: absolute;
  top: 0;
  width: 450px;
  height: 450px;
  background-image: url("/decoration.svg");
  background-size: contain;
  background-position: center;
  z-index: -1;
}

/*.table-data {*/
/*  border: solid lightblue 1px;*/
/*}*/
